#container {
    width: 360px;
    border: 1px solid #000;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 6px;
    background-color: #d2d2d2;
    margin-top: 200px;
}